.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#table tbody{
  display: flex;
  flex-wrap:wrap;
}
.description
{
  font-family: 'Arimo', sans-serif;
}
.description h5
{
  padding:1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
}
.description h3
{
  font-family: 'Arimo', sans-serif;
}
.search
{
  position: relative;
  width:250px !important;
  bottom: 50px;
  right:10px;
  float: right;
}

#headerTitle
{
  display: block;
}
#menuItems td
{
  display: inline;
  padding: 1px;
  margin: 1px;
}
#menuItems td a,#headerTitle a
{
  font-family: 'Arimo', sans-serif;
}
#menuItems td a:link,#headerTitle a:link
{
  color:white;
}
#menuItems td a:visited, #headerTitle a:visited
{
  color:white;
  transition: 1s;
}
#menuItems td a:hover, #headerTitle a:hover
{
  color:red;
  transition: 1s;
}
#menuItems td a:active, #headerTitle a:active
{
  font-weight: bold;
}
#cards
{
  position: relative;
  top: 20px;
  left: 50px;
}
.image img
{
  position: relative;
  height:250px !important;
  width: 250px !important;
  left: 25px;
}
#searchRow
{
  position: relative;
  float: right;
}